- remote_form_for :question, question, :url => { :action => 'update_question', :id => question.id } do |f|
  = f.text_field :text, :size => 80
  = f.hidden_field :tree_id, :value => tree.id
  = submit_tag "Submit"
  %span.tiny-text= link_to_remote "Cancel", :url => { :action => 'ajax_show_question', :id => question.id }
%ul{:id => question_responses_css_id(question)}
  - question.responses.each do |response|
    = render :partial => 'response_tree', :locals => { :response => response }
