= render :partial => 'show_response', :locals => { :response => response }
%span{:id => response_css_id(response) }
  - remote_form_for :question, :url => { :action => 'create_question', :id => response.id } do |f|
    = f.text_field   :text, :size => 80
    = f.hidden_field :response_id, :value => response.id
    = submit_tag "Submit"
    %span.tiny-text= link_to_remote "Cancel", :url => { :action => 'cancel_link_to_question', :id => response.id }
