- form_for :result, :url => { :action => 'update_result', :id => @result.id} do |f|
  = f.hidden_field :tree_id, :value => @result.tree_id
  %div 
    =f.label :name, "Name"
    %span.tiny-text (Not shown to the user. Just for admin users to identify it in the tree view)
    %br
    =f.text_field :name, :size => 80
  %div
    =f.label :textile, "Textile code"
    %span.small-text= textile_link
    %br
    = f.text_area :textile, :cols => 80
  = hidden_field_tag 'response_id', @response.id
  %br
  = submit_tag "Preview"
  = submit_tag "Submit"
  %h2 Preview
  %iframe{:src => url_for(:action => 'preview', :textile => @result.textile), :width => 600, :height => 500}

