%h2 Choose a question tree to edit
- if flash[:notice]
  %div.notice
    = flash[:notice]
    -if flash[:undo_delete_id]
      %br
      = link_to "Undo delete", :action => "undo_delete_tree", :id => flash[:undo_delete_id]
%ul
  - @trees.each do |tree|
    - permalink_url = "#{root_url}tree/#{tree.permalink}"
    %li
      = link_to tree.name, :action => 'show_tree', :id => tree.id
      %span.tiny-text= '|'
      %span.tiny-text= link_to 'Change name', :action => 'edit_tree', :id => tree.id
      %span.tiny-text= '|'
      %span.tiny-text= link_to 'Delete', {:action => 'delete_tree', :id => tree.id}, :confirm => "Warning. This will delete the entire question tree! Are you really, really, superlative sure?"
      %br
      =permalink_url

= link_to "Add new", :action => 'new_tree'