= tree[:question]
%ul
  - tree[:responses].each do |response,obj|
    %li
      - if obj.is_a?(Array)
        = "#{response} -> #{obj.collect {|i| "Result #{i}"}.join(", ")}"
      - else
        = "#{response} -> "
        %br
        = render :partial => 'tree_branch', :locals => { :tree => obj }