<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>MOUNTAINS YOUTH SERVICES TEAM</title>
  <%= stylesheet_link_tag 'myst' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>

  <div class="middle">

    <div class="content" >
      <% if session[:user_id] -%>
        <div class="small-text">
          Signed in as <strong>admin</strong> | 
          <%= link_to "Change password", :controller => 'user', :action => 'change_password_form'%>
          |
          <%= link_to "Logout", :controller => 'user', :action => 'logout'%>
        </div>
        <hr>
      <% end -%>

      <!-- Logo -->
      <div style="float: right;">
        <p class="tiny-text">Blue Mountains, NSW, Australia</p>
        <%= image_tag 'myst_rgb.jpg', :style=>"border: none; height: 56px; width: 82px; " %>
      </div>

      <!-- HEADER -->
      <div class="header">
        <p style="padding-top: 0pt; " class="header-text">MOUNTAINS YOUTH<br /></p>
        <p style="padding-bottom: 0pt; " class="header-text">SERVICES TEAM</p>
      </div>

      <%= yield %>
    </div><!-- content -->
    <div class="content tiny-text" style="border-top: 1px solid #CCC">
        <a href="/">Home</a> | <a href="http://myst.com.au">MYST</a> | <a href="">Contact us</a>
        | <%= link_to "Admin", :controller => 'admin', :action => 'index' %>
        <% if @tree && @is_admin -%>
        | <%= link_to "Edit this question tree", permalink_for(@tree) %>
        <% end -%>

    </div>
  </div><!-- middle -->

  <div class="bottom"></div>
</body>
</html>
